<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
    <%- include('partials/head.ejs')%>
</head>
<body>
    <%- include('partials/navigation')%>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab reiciendis commodi laborum dolore voluptas odit sequi tenetur non fuga corporis, nisi reprehenderit ipsam illo minima tempore sunt expedita consequatur laboriosam. Voluptas fugiat minima est maiores ea quis facilis optio tempora rerum, voluptatum praesentium, molestiae obcaecati dolor at delectus. Est eius eligendi perferendis quis voluptatum provident quia beatae explicabo omnis labore illum ratione, dicta placeat dolores iure laudantium accusantium saepe itaque ipsam dolore animi facere. Repellat reprehenderit harum dicta fugit voluptatibus! Nostrum consequuntur rem ab, excepturi fuga perspiciatis magni esse vero, recusandae sunt harum fugiat voluptate quidem aperiam autem illum exercitationem alias odit, animi laudantium dolorem ratione laboriosam. Suscipit dolor sint facilis eius dolorem perspiciatis unde. Repellat possimus fugit numquam animi pariatur excepturi autem aperiam sequi nam debitis architecto doloremque voluptate, dolores ullam nisi, in officiis eveniet labore fuga? Provident odit veniam, ipsa iure aperiam quisquam nam porro ullam ut corrupti reprehenderit ducimus pariatur modi eaque repudiandae quidem, cupiditate, error voluptas. Voluptate quibusdam vero eaque commodi possimus aut magni veritatis, ipsum doloribus debitis doloremque tempora alias expedita, amet eum nihil exercitationem sunt nam. Quam explicabo et quas deleniti laboriosam, modi architecto, amet aliquid ipsa quidem eos nemo ipsam neque libero dolorum impedit cumque illo ipsum! Architecto dolor sit quia quaerat! Inventore harum quaerat minima quibusdam iusto veritatis doloremque eaque laboriosam tempora aut, ipsum possimus saepe ab id minus eius recusandae unde similique error commodi officiis impedit cupiditate labore. Quaerat neque error dignissimos, harum ad numquam? Consequuntur repellat facere quam quis, maiores architecto sapiente illum esse necessitatibus quos similique voluptatem odit dolorum omnis nihil laboriosam dolores velit expedita praesentium eos, neque voluptatum! Voluptatibus aliquid nemo sapiente magnam dicta assumenda possimus quibusdam, perferendis illo sed error molestiae libero iure porro corporis, debitis ullam deserunt iusto officia obcaecati labore cum reprehenderit harum est! Fuga!</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>